* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  display: grid;
  place-items: center;
  // background-color: rgba(16, 16, 16, 0.25);
  background-color: black;
}

$color-primary: mediumslateblue;

.card {
  padding: 9.6rem 6.4rem;
  background-color: rgb(16, 16, 16);
  max-width: 75rem;
  margin: 0 auto;
  position: relative;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.05);

  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: 55%;
    left: 0;
    height: 15rem;
    width: 1px;
    background-image: linear-gradient(transparent, $color-primary, transparent);
    opacity: 0;
    transition: all 0.6s;
  }

  &:hover:after {
    opacity: 1;
    top: 15%;
  }
}

h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: $color-primary;
  font-weight: 600;
  line-height: 1;
}

h1 {
  font-size: 6.4rem;
  color: #f7f7f7;
  line-height: 1.2;
}

p {
  color: #ddd;
  font-size: 1.8rem;
}
