@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  background-color: #f7f7f7;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  width: 1000px;
  gap: 36px;
  background-color: #eee;
  padding: 64px;
  border-radius: 25px;
  box-shadow: 0 15px 30px 10px rgba(0, 0, 0, 0.05);
}

img {
  width: 350px;
}

.content {
  color: #333;
}

h2 {
  font-size: 36px;
  color: #6c63ff;
  font-weight: 700;
}

p {
  line-height: 1.6;
}

/* Hover animation */

.info:hover img {
  animation: img-animation 1.5s alternate ease-in-out infinite;
}

@keyframes img-animation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
